.home-item{
    display: flex;
    flex-direction: column;
}

.item-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-list-title{
    font-size: 2em;
    color: #17a2b8;
    font-weight:900;
    letter-spacing: 5px;
    text-align: center;
}

/* BANNER */
.itemBanner{
    margin: 20px;
}

.itemBanner-img{
    width: 100%;
}

@media (min-width: 1024px){
    .item-list{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        align-items:stretch
    }

    .itemBanner{
        margin: 20px 100px 20px 100px
    }
    
    .itemBanner-img{
        width: 100%;
    }
}

