@import url(./components/navBar/categoryList/categoryList.css);
@import url(./components/navBar/navBar.css);

.App-header {
  display: flex;
  flex-direction: column;
  padding: 20px 10px 20px 10px;
}

.App-main{
  display: flex;
  height: 60vh;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px){
  .App-header{
      padding: 2% 10%;
  }
}
