button, #subtract, #add{
    background-color: white;
    border-radius: 5px;
    border: 1px solid;
    margin: 1px;
    padding: 6px;
}

#subtract:hover, #add:hover{
    cursor: pointer;
    background-color: #17a2b8;
    color: white;
}